.shipping-page {
  display: flex;
  flex-wrap: wrap;
  color: #fff;
  border-bottom: 1px solid #c69736;
}

.shipping-top-info {
  width: 100%;
  height: 6vh;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #c69736;
  color: #c69736;
}

.shipping-top-info h3 {
  font-weight: 400;
  margin: 0.4rem;
  padding-left: 2rem;
}

.shipping-left-info {
  height: 100vh;

  width: 60%;
}

.shipping-right-info {
  height: 100vh;

  width: 40%;
}

.right-info-2 {
  height: auto;
  width: 40%;
  background: rgb(56, 56, 56);
}

.first-right-div {
  display: flex;
  justify-content: space-between;
}

.inner-section-info div {
  border-bottom: 1px solid gray;
}

.first-right-div img {
  height: 100px;
  width: 100px;
}

.second-right-div {
  padding: 2rem;
}

.second-right-div input,
button {
  padding: 1rem;
}

.second-right-div input {
  width: 60%;
}

.second-right-div button {
  width: 25%;
  margin-left: 1rem;
  color: #fff;
  background: gray;
}

.inner-section-info {
  padding: 1rem;
  margin: 3rem;
}

.top-logo {
  width: 100%;
  height: auto;
}

.top-logo img {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 250px;
  height: 200px;
  margin-top: 2rem;
}

.bottom-section {
  display: flex;
  flex-direction: column;
  margin: 7rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.bottom-section section {
  background: #fff;
  border-bottom: 1px solid gray;
  color: black;
  padding: 1rem;
}

.inner-section {
  display: flex;
  justify-content: space-between;
}

.last-section {
  margin: 7rem;
  margin-bottom: 0px;
}
