@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

.about-us-body {
  font-family: "Poppins", sans-serif;
  height: auto;
  background: #fff;
}

.about-us-body h1 {
  color: #e0c37c;
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.3rem;
}

.about-us-body p {
  margin: 10rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

.first-h {
  padding-top: 2rem;
}

.last-p {
  text-align: center;
  padding-bottom: 2rem;
}

@media only screen and (max-width: 600px) {
  .about-us-body p {
    margin: 1rem;
  }
}
