.coupon-area p {
  color: #fff;
}

.coupon-area {
  padding-left: 2.5rem;
  width: 100%;
  border-bottom: 1px solid #c69736;
}

.coupon-area input {
  padding: 0.5rem;
  width: 20%;
  border: none;
  margin-bottom: 2rem;
}

.coupon-area button {
  padding: 0.5rem;
  background: #c69736;
  color: #fff;
  border: none;
}
