@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&family=Urbanist:wght@200&display=swap");
body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
}

code {
  font-family: "Source Sans Pro", sans-serif;
}

/* Global */
